*{
  font-size: x-large;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.btn.btn-primary{
  
  color: black;
  background-color:white;
  border-color: black;
}